@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Tenor Sans', 'San Serif';
}

.mainDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.mainDiv li{
  list-style: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
  border-radius: 4px;
}
.eachLi{
  background: rgba(0, 0, 0, 0.1);
  
}
.activePage{
  background: black;
  color: #fff;
}
.prevBtn, .nextBtn{
  font-weight: bold;
}












.carousel .thumb {
  transition: border .15s ease-in;
  display: none !important;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid #fff;
  padding: 2px;
}

.carousel .carousel-status{
  display: none !important;
}
.carousel .slide .legend {
  width: 200px !important;
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
  border-top-right-radius: 40px !important;
  border-bottom-right-radius: 40px !important;

}
.carousel .control-dots .dot{
  margin-top: 0px !important;
  background-color: #555555 !important;
  border-radius: 0px !important;
  transform: rotate(50deg) !important;
  width: 5px !important;
  height: 5px !important;
}